.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  color:antiquewhite;
}

.inputbox{
  width: 300px;
  height: 150px;
  background-color:slategray;
  text-align: center;
  margin: auto;
  position: relative;
  z-index:1px;
  margin-top: -100px;
  border-radius: 8px;
}

.inputbox input{
  margin-top: 50px;
  background-color:slategray;
  color:wheat;
  border-style: none;
  font-size: 20px;
  font-family: sans-serif;
  z-index: 50px;


}

span p{
  color:black ;
}

.five{
  font-size:19px;
  color: #e6727b;
}

.ten{
  font-size:19px;
  color: #e6727b;
}

.box{
  display: flex;
  justify-content: space-around;
  background-color:#e7e7e8;
  width: 500px;
  margin-left: 400px;
  height: 300px;
  margin-top:-100px;
  

}

.box button{
  width: 170px;
  margin-top:200px;
  background-color:#e5dfe0;

}

.minus1{
  width:150px;
  height:50px;
  border-radius: 8px;
  border-style:none;
  
}

.minus2{
  width:150px;
  height:50px;
  border-radius: 8px;
  border-style:none;
}

img{
  height: 100px;
  margin-left: 190px;
  margin-top: 10px;
}

.namebox{
background-color:#e6727b;
width: 500px;
margin-left: 400px;
height: 400px;
position: relative;
z-index: -1;

}


